# How to Use Python With SQLite
In this notebook, we work through the CRUD processes:
- Creating a database
- Retrieve the data
- Update the data
- Delete the data

In [1]:
import sqlite3
import json

db = sqlite3.connect('database.db')
print("Opened database successfully")

Opened database successfully

In [2]:
db.execute(
    '''
    CREATE TABLE IF NOT EXISTS COMPANY (
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL
    );
    '''
)

print("Table created successfully")

Table created successfully

In [3]:
placeholder_data = [
    {
        "id": 1,
        "name": "Paul",
        "age": 32,
        "address": 'California',
        "salary": 20000.00
    },
    {
        "id": 2,
        "name": "Allen",
        "age": 25,
        "address": 'Texas',
        "salary": 15000.00
    },
    {
        "id": 3,
        "name": "Teddy",
        "age": 23,
        "address": 'Norway',
        "salary": 20000.00
    },
    {
        "id": 4,
        "name": "Mark",
        "age": 25,
        "address": 'Rich-Mond',
        "salary": 65000.00
    }
]

placeholder_data_json = json.dumps(placeholder_data)

In [4]:
# map the data to the database
for item in placeholder_data:
    db.execute(
        '''
        INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
        VALUES (?, ?, ?, ?, ?)
        ''',
        (item['id'], item['name'], item['age'], item['address'], item['salary'])
    )
    
db.commit() # save the changes

In [6]:
# sum the salary
cursor = db.execute('SELECT SUM(SALARY) FROM COMPANY')
for row in cursor:
    print("Total salary of all staffs: ", row[0])

Total salary:  120000.0

In [8]:
# change id 1 salary to 1500
db.execute('UPDATE COMPANY SET SALARY = 1500 WHERE ID = 1')

# save the changes
db.commit()

In [9]:
# delete id 2
db.execute('DELETE FROM COMPANY WHERE ID = 2')

# save the changes
db.commit()

In [10]:
# close the database
db.close()